/*
 Theme Name:   Shop 91 Now- Storefront child theme
 Theme URI:    
 Description:  Shop 91 Now  Storefront Child Theme
 Author:       Scott Alzheimer
 Author URI:   http://example.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         	e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options
 Text Domain:  shop-91-now
*/

.site-header .site-branding{
	width: 50% !important;
}
.entry-header{
	display:none;
}
.homepageHeader{
	position: relative;
	width:100%;
}
.welcomeText{
 	position: absolute;
 	top:200px;
	left:0;
	width:100%;
}
.welcomeText>span{
	color:#ffffff;
}

.homepageImage{
	float:left;
	padding: 0;
	margin: 0;
}
.educationDescription{
	padding-right:5px;
}
.woocommerce-active .site-header .secondary-navigation{
	float:none;
	width:auto;
	margin-right:0px;

}
/***footer
*/

.footer-widgets >div.block > .widget_text.widget.widget_custom_html> span.gamma.widget-title{
	display:none;
}

#menu-footer-menu >li{
	display: inline;
}
.menu-footer-menu-container{
	width:400px;
margin-left: auto;
margin-right: auto;
}
#nav_menu-2.widget_nav_menu ul li:before{
	content:"";
	margin-left: auto;
	margin-right: auto;
}
/*product loop aka shop*/
.shop91-wrapper {
    max-width: 80%;
}
.woocommerce-loop-product__title{
	font-size: 1.7rem !important;
	margin-top:5px !important;
}
.loop_qty{
	height:40px;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
}
.loop_qty_lbl{
	
	font-weight: 400;
	float:left;
	margin-top: 10px;
	margin-right: 5px;
}
.quantity{
	width:30%;
	margin: 0px;
	padding: 0px;
	float: left;
}

/* single product view */
.jp-relatedposts{
	display: none !important;
}
@media screen and (max-width:800px){
	
		.site-description{
			display: none !important;
		}	
		.welcomeText{
			top: 100px;
		}
}

@media screen and (max-width:500px){
		.site-content{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: 15px;
		margin-left: 15px;
		}
		.site-header .site-branding{
			width: 70% !important;
		}
		.welcomeText{
			top: 0px;
		}
		.welcomeText> span{
			font-size: small;
		}
}
